/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default margins and paddings, prevent horizontal overflow */
html, body {
  @apply m-0 p-0 overflow-x-hidden;
  height: 100%;
  width: 100%;
}

/* Additional global styles */
:root {
  --grid-item-color: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  background-color: #111116;
  color: white;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: Bebas Neue, sans-serif;
}

button {
  @apply rounded border border-transparent px-3 py-1.5 text-base font-medium bg-gray-800 cursor-pointer transition-colors duration-300;
}
button:hover {
  @apply border-blue-500;
}
button:focus,
button:focus-visible {
  @apply outline-none ring-4 ring-blue-300;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    @apply bg-gray-200;
  }
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
